/*--- Neeeded, to make work dropdown  */
.navbar-item.has-dropdown .navbar-dropdown {
    display: none;
}

.navbar-item.has-dropdown.is-active .navbar-dropdown {
    display: block;
}


.transparent {
    background-color: transparent !important;
}

* {
    box-shadow: none !important;
}

.is-90 {
    width: 90% !important;
}

.has-blue-bg{
    background-color: #1676ce;
    padding: 7px;
    display: inline-block;
}

.has-blue-bg-block{
    background-color: #1676ce;
    padding: 7px;
    display: block;
}

.btn {
    background-color: #1676ce;
    color: #FFF;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
    width: 100px;
    border: none;
}


.section.bg_commerce_landing {
    background: url('../images/5593hero.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    /* background-color: #B8D8D8 !important;
    background-blend-mode: overlay !important; */
}

.bg_comerce_sale {
    background: url('https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    /* background-color: #B8D8D8 !important;
    background-blend-mode: overlay !important; */
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 100% !important;
}

.icons{
    display: flex;
}

i {
    margin-right: 7px;
}

* { font-family: 'Roboto', sans-serif; 
    border-radius: 0px !important;  
  }

  .precio {
  background-color: #fff;
  color: #4a4a4a;
  font-size: .75rem;
  font-weight: 400;
  padding: .75em;
  align-content: center;
  text-align: center;
}
  .cantidad {
  font-size: 2rem;
  font-weight: 700;
  }

  .peso {
  vertical-align: super;
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #4a4a4a;
  margin-right: .25rem;
  }



* {scroll-behavior: smooth;}

.txt { font-size: 12px;}
.blue {color: #1676cd !important;}
.is-blue-bg { background-color: #1676cd !important; color: white;}

.icons.mt-1.mb-1 {position: relative;}
.mb-lg {margin-bottom: 8rem !important; }
.mt-lg {margin-top: 8rem !important; }
.alto-linea{line-height: 1.8;}

span.is-danger {
    color: #f14646;
    font-weight: bold;
}

.precioMeli{
    font-size: 0.9rem !important;
}

button.button.is-blue-bg.has-text-white.is-half {
    width: 50%;
}

footer{
    background-color: white !important;
}
/*GALERIA DE FOTOS*/

.b-card-slider{
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .b-card-slider-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
  }
  .b-card-sl-con{
    position: relative;
    overflow: hidden;
    width: 100%;
    height:auto;
  }
  .bus-prev,.bus-next{
    position: absolute;
    background: transparent;
    opacity: 0.8;
    width: 45px;
    height:45px;
    border-radius: 20% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1676cd;
    font-size: 19px;
    transition: 0.2s;
    cursor: pointer;
    z-index: 100;
  }
  .bus-prev{
    top: 50%;
    left:5%;
    transform: translate(-50%,-50%);
  }
  .bus-next{
    top: 50%;
    right:5%;
    transform: translate(50%,-50%);
  }
  .bus-prev:hover ,.bus-next:hover{
    background: white;
    color: #1676cd;
  }
  
  .b-card-slider-container{
    width: 20%;
    height: auto;
    object-fit:cover;
  }
  .b-card-slider-container img{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

